<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>count</key>
		<integer>2000</integer>
		<key>maxid</key>
		<string>1474890961</string>
		<key>maxtime</key>
		<string>1474890961</string>
		<key>page</key>
		<integer>100</integer>
		<key>vendor</key>
		<string>six.jie.c</string>
	</dict>
	<key>list</key>
	<array>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>bookmark</key>
			<string>53</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>63</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>comment</key>
			<string>31</string>
			<key>create_time</key>
			<string>2016-09-24 12:57:40</string>
			<key>created_at</key>
			<string>2016-09-26 22:29:02</string>
			<key>ding</key>
			<string>476</string>
			<key>favourite</key>
			<string>53</string>
			<key>hate</key>
			<string>63</string>
			<key>height</key>
			<string>640</string>
			<key>id</key>
			<string>20859716</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>476</string>
			<key>name</key>
			<string>如玉潇湘忘凡俗</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 22:29:02</string>
			<key>playcount</key>
			<string>33667</string>
			<key>playfcount</key>
			<string>7086</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/10/57d3c9cd7780b_mini.jpg</string>
			<key>repost</key>
			<string>98</string>
			<key>screen_name</key>
			<string>如玉潇湘忘凡俗</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474900142</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>有这样的老爹，小孩以后便是最强王者！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>18560424</string>
			<key>videotime</key>
			<string>22</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/6bc6a2f8-8213-11e6-9849-d4ae5296039d_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.zk111.net/share/20859716.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>480</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>bookmark</key>
			<string>83</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>58</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>comment</key>
			<string>47</string>
			<key>create_time</key>
			<string>2016-09-23 22:37:29</string>
			<key>created_at</key>
			<string>2016-09-26 22:10:03</string>
			<key>ding</key>
			<string>556</string>
			<key>favourite</key>
			<string>83</string>
			<key>hate</key>
			<string>58</string>
			<key>height</key>
			<string>426</string>
			<key>id</key>
			<string>20849180</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>556</string>
			<key>name</key>
			<string>雅蠛蝶突击队</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 22:10:03</string>
			<key>playcount</key>
			<integer>23328</integer>
			<key>playfcount</key>
			<integer>7812</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/20/57e0cd620e99f_mini.jpg</string>
			<key>repost</key>
			<string>128</string>
			<key>screen_name</key>
			<string>雅蠛蝶突击队</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474899003</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这是我见过最魔性的吹口哨，这双唇性感到无法直视</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>15262111</string>
			<key>videotime</key>
			<string>11</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0923/41403cec-819b-11e6-badf-90b11c479401_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.budejie.com/share/20849180.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>240</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>123</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>43</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/18/57ddde142bc7a.gif</string>
			<key>comment</key>
			<string>30</string>
			<key>create_time</key>
			<string>2016-09-18 08:21:40</string>
			<key>created_at</key>
			<string>2016-09-26 22:10:02</string>
			<key>ding</key>
			<string>579</string>
			<key>favourite</key>
			<string>123</string>
			<key>gifFistFrame</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/18/57ddde142bc7a_a_1.jpg</string>
			<key>hate</key>
			<string>43</string>
			<key>height</key>
			<string>190</string>
			<key>id</key>
			<string>20722681</string>
			<key>image0</key>
			<string>http://ww1.sinaimg.cn/mw240/bd9460d4jw1f7xqqcr7rng209c05a1kx.gif</string>
			<key>image1</key>
			<string>http://ww1.sinaimg.cn/large/bd9460d4jw1f7xqqcr7rng209c05a1kx.gif</string>
			<key>image2</key>
			<string>http://ww1.sinaimg.cn/bmiddle/bd9460d4jw1f7xqqcr7rng209c05a1kx.gif</string>
			<key>is_gif</key>
			<string>1</string>
			<key>love</key>
			<string>579</string>
			<key>name</key>
			<string>雁回西楼</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 22:10:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/05/23/574214872055d_mini.jpg</string>
			<key>repost</key>
			<string>112</string>
			<key>screen_name</key>
			<string>雁回西楼</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474899002</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>妹子喜怒无常的一天，你是不是酱紫的兔子。。。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17246660</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.com.cn/share/20722681.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>336</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>220</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>93</string>
			<key>comment</key>
			<string>31</string>
			<key>create_time</key>
			<string>2016-09-22 16:37:41</string>
			<key>created_at</key>
			<string>2016-09-26 22:09:07</string>
			<key>ding</key>
			<string>796</string>
			<key>favourite</key>
			<string>220</string>
			<key>hate</key>
			<string>93</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>20819386</string>
			<key>love</key>
			<string>796</string>
			<key>name</key>
			<string>我叫瘦瘦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 22:09:07</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/22/57e3b12820213_mini.jpg</string>
			<key>repost</key>
			<string>121</string>
			<key>screen_name</key>
			<string>我叫瘦瘦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474898947</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>同事聚会三大主题：诉苦、拼酒、骂领导。同学聚会三大主题：忆旧、拼富、搞破鞋。男人聚会三大主题：足球、女人、吹牛逼。女人聚会三大主题：八卦、时装、大姨妈。网友聚会的三大主题：开房、开房、哪开房？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>19094733</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.com.cn/share/20819386.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>bookmark</key>
			<string>1369</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>111</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>comment</key>
			<string>31</string>
			<key>create_time</key>
			<string>2016-09-22 00:08:44</string>
			<key>created_at</key>
			<string>2016-09-26 21:51:02</string>
			<key>ding</key>
			<string>1243</string>
			<key>favourite</key>
			<string>1369</string>
			<key>hate</key>
			<string>111</string>
			<key>height</key>
			<string>360</string>
			<key>id</key>
			<string>20807669</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0922/57e2b08c65269__b.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1243</string>
			<key>name</key>
			<string>百思小公举</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:51:02</string>
			<key>playcount</key>
			<string>28078</string>
			<key>playfcount</key>
			<string>1986</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/08/57d0f79680a31_mini.jpg</string>
			<key>repost</key>
			<string>468</string>
			<key>screen_name</key>
			<string>百思小公举</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474897862</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>你胖的是皮下还是内脏？搞清楚，十天打造完美腹肌！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>15731740</string>
			<key>videotime</key>
			<string>286</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0922/57e2b08c9f424_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.mobi/share/20807669.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>640</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>bookmark</key>
			<string>124</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>190</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>comment</key>
			<string>132</string>
			<key>create_time</key>
			<string>2016-09-24 08:41:11</string>
			<key>created_at</key>
			<string>2016-09-26 21:37:01</string>
			<key>ding</key>
			<string>905</string>
			<key>favourite</key>
			<string>124</string>
			<key>hate</key>
			<string>190</string>
			<key>height</key>
			<string>640</string>
			<key>id</key>
			<string>20855095</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5cba70f396__b_23.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>905</string>
			<key>name</key>
			<string>七级床震i</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:37:01</string>
			<key>playcount</key>
			<integer>65035</integer>
			<key>playfcount</key>
			<integer>18968</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/picture1/M00/11/66/wKiFQ1S_zQ2AVGsdAAB3pvdiX8k.cn_qza</string>
			<key>repost</key>
			<string>161</string>
			<key>screen_name</key>
			<string>七级床震i</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474897021</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>终于知道为什么东北比南方穷了，说多了都是泪啊</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>13241908</string>
			<key>videotime</key>
			<string>22</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/57e5cba79cc08_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.budejie.com/share/20855095.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>480</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>bookmark</key>
			<string>229</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>250</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>comment</key>
			<string>94</string>
			<key>create_time</key>
			<string>2016-09-24 22:54:54</string>
			<key>created_at</key>
			<string>2016-09-26 21:23:02</string>
			<key>ding</key>
			<string>1236</string>
			<key>favourite</key>
			<string>229</string>
			<key>hate</key>
			<string>250</string>
			<key>height</key>
			<string>360</string>
			<key>id</key>
			<string>20871714</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd_55.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1236</string>
			<key>name</key>
			<string>红颜纷扰红尘梦</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:23:02</string>
			<key>playcount</key>
			<integer>50010</integer>
			<key>playfcount</key>
			<integer>291</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2015/12/31/56850d019c4aa_mini.jpg</string>
			<key>repost</key>
			<string>354</string>
			<key>screen_name</key>
			<string>红颜纷扰红尘梦</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474896182</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>你绝对没有听过的《baby》神曲版，第3秒我就投降了！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>17003528</string>
			<key>videotime</key>
			<string>220</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/dabf8d66-8266-11e6-baf7-90b11c479401_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.net/share/20871714.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>640</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>bookmark</key>
			<string>408</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>172</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>comment</key>
			<string>83</string>
			<key>create_time</key>
			<string>2016-09-24 13:56:48</string>
			<key>created_at</key>
			<string>2016-09-26 21:17:05</string>
			<key>ding</key>
			<string>2567</string>
			<key>favourite</key>
			<string>408</string>
			<key>hate</key>
			<string>172</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20860808</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e615a0339cc__b_49.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>2567</string>
			<key>name</key>
			<string>幽默观察家</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:17:05</string>
			<key>playcount</key>
			<string>51592</string>
			<key>playfcount</key>
			<string>10321</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/profile/20151009104635.jpg</string>
			<key>repost</key>
			<string>837</string>
			<key>screen_name</key>
			<string>幽默观察家</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474895825</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>儿子女友：一顿吃下120个饺子 60个寿司，把一起吃饭的人都整懵逼了。母亲不但不心疼儿子被当成人肉饭票，还对他说：那你要多赚点钱。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>16224794</string>
			<key>videotime</key>
			<string>457</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/57e615a120406_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/20860808.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>848</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>475</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>76</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/22/57e3de84d2340_1.jpg</string>
			<key>comment</key>
			<string>57</string>
			<key>create_time</key>
			<string>2016-09-22 21:37:08</string>
			<key>created_at</key>
			<string>2016-09-26 21:14:02</string>
			<key>ding</key>
			<string>1557</string>
			<key>favourite</key>
			<string>475</string>
			<key>hate</key>
			<string>76</string>
			<key>height</key>
			<string>16726</string>
			<key>id</key>
			<string>20825356</string>
			<key>image0</key>
			<string>http://ww1.sinaimg.cn/mw240/c1e8ffd5jw1f83gqpa87lj20go764h1a.jpg</string>
			<key>image1</key>
			<string>http://ww1.sinaimg.cn/large/c1e8ffd5jw1f83gqpa87lj20go764h1a.jpg</string>
			<key>image2</key>
			<string>http://ww1.sinaimg.cn/bmiddle/c1e8ffd5jw1f83gqpa87lj20go764h1a.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1557</string>
			<key>name</key>
			<string>雁回西楼</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:14:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/05/23/574214872055d_mini.jpg</string>
			<key>repost</key>
			<string>538</string>
			<key>screen_name</key>
			<string>雁回西楼</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474895642</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>反鸡汤负能量漫画，这才是人生真理！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>17246660</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.com.cn/share/20825356.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>1080</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>bookmark</key>
			<string>211</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>179</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>comment</key>
			<string>70</string>
			<key>create_time</key>
			<string>2016-09-24 09:31:21</string>
			<key>created_at</key>
			<string>2016-09-26 21:08:02</string>
			<key>ding</key>
			<string>1057</string>
			<key>favourite</key>
			<string>211</string>
			<key>hate</key>
			<string>179</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20855512</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e5d769eea1c__b_93.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1057</string>
			<key>name</key>
			<string>YXDDDD</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:08:02</string>
			<key>playcount</key>
			<integer>59561</integer>
			<key>playfcount</key>
			<integer>3656</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/picture1/M00/11/81/wKiFR1THDUSADMvAAAAZItE7DD4.cn_238</string>
			<key>repost</key>
			<string>258</string>
			<key>screen_name</key>
			<string>YXDDDD</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474895282</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>比鲱鱼罐头更恶心的东西来了——哈利波特怪味豆</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>13347954</string>
			<key>videotime</key>
			<string>237</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/57e5d76b231d4_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.budejie.com/share/20855512.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>854</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>63</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>61</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/17/57dd5019ab655_1.jpg</string>
			<key>comment</key>
			<string>113</string>
			<key>create_time</key>
			<string>2016-09-17 22:15:53</string>
			<key>created_at</key>
			<string>2016-09-26 21:05:18</string>
			<key>ding</key>
			<string>263</string>
			<key>favourite</key>
			<string>63</string>
			<key>hate</key>
			<string>61</string>
			<key>height</key>
			<string>28004</string>
			<key>id</key>
			<string>20716566</string>
			<key>image0</key>
			<string>http://ww2.sinaimg.cn/mw240/c1e8ffd5jw1f802o1zw48j20go587arw.jpg</string>
			<key>image1</key>
			<string>http://ww2.sinaimg.cn/large/c1e8ffd5jw1f802o1zw48j20go587arw.jpg</string>
			<key>image2</key>
			<string>http://ww2.sinaimg.cn/bmiddle/c1e8ffd5jw1f802o1zw48j20go587arw.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>263</string>
			<key>name</key>
			<string>图有毒</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 21:05:18</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/06/08/57577a6a3f9e1_mini.jpg</string>
			<key>repost</key>
			<string>57</string>
			<key>screen_name</key>
			<string>图有毒</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474895118</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这才是逆天COS！妹纸你酱紫我药不够吃的！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>18340664</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.net/share/20716566.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>2480</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>52</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>86</string>
			<key>comment</key>
			<string>83</string>
			<key>create_time</key>
			<string>2016-09-26 07:29:13</string>
			<key>created_at</key>
			<string>2016-09-26 20:56:02</string>
			<key>ding</key>
			<string>781</string>
			<key>favourite</key>
			<string>52</string>
			<key>hate</key>
			<string>86</string>
			<key>height</key>
			<string>0</string>
			<key>id</key>
			<string>20898898</string>
			<key>love</key>
			<string>781</string>
			<key>name</key>
			<string>丿你看我屌不</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/08/22/57ba4909aade7_mini.jpg</string>
			<key>repost</key>
			<string>53</string>
			<key>screen_name</key>
			<string>丿你看我屌不</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474894562</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>判断一个女人是不是真的爱你，就在她发脾气的时候去强吻她。如果她挣脱开骂你神经病并变本加厉地发脾气，那么她可能并没有想象中的那么爱你，如果她挣扎一会就软在你身上，那么说明她很可能是窒息了。</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>29</string>
			<key>user_id</key>
			<string>18508352</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.net/share/20898898.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>0</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>bookmark</key>
			<string>313</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>210</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>comment</key>
			<string>64</string>
			<key>create_time</key>
			<string>2016-09-25 10:23:32</string>
			<key>created_at</key>
			<string>2016-09-26 20:54:01</string>
			<key>ding</key>
			<string>1681</string>
			<key>favourite</key>
			<string>313</string>
			<key>hate</key>
			<string>210</string>
			<key>height</key>
			<string>240</string>
			<key>id</key>
			<string>20879370</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73525087d9__b.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1681</string>
			<key>name</key>
			<string>小妖精-加V</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:54:01</string>
			<key>playcount</key>
			<integer>127886</integer>
			<key>playfcount</key>
			<integer>42549</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/06/08/57576b6432993_mini.jpg</string>
			<key>repost</key>
			<string>540</string>
			<key>screen_name</key>
			<string>小妖精-加V</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474894441</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>小白兔真可爱！一蹦一蹦！跳出来！！！哈哈</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>16167593</string>
			<key>videotime</key>
			<string>10</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0925/57e735251051d_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.cn/share/20879370.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>320</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>bookmark</key>
			<string>183</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>230</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>comment</key>
			<string>69</string>
			<key>create_time</key>
			<string>2016-09-24 13:08:43</string>
			<key>created_at</key>
			<string>2016-09-26 20:41:02</string>
			<key>ding</key>
			<string>1126</string>
			<key>favourite</key>
			<string>183</string>
			<key>hate</key>
			<string>230</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20859953</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e60a5bb843d__b.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1126</string>
			<key>name</key>
			<string>天堂的七色花</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:41:02</string>
			<key>playcount</key>
			<integer>102560</integer>
			<key>playfcount</key>
			<integer>16567</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/08/19/57b71b5307519_mini.jpg</string>
			<key>repost</key>
			<string>540</string>
			<key>screen_name</key>
			<string>天堂的七色花</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474893662</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>这对情侣动静太大了，受不了</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>19056469</string>
			<key>videotime</key>
			<string>64</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/57e60a5bcea36_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.zk111.net/share/20859953.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>854</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>bookmark</key>
			<string>247</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>279</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>comment</key>
			<string>112</string>
			<key>create_time</key>
			<string>2016-09-25 10:56:23</string>
			<key>created_at</key>
			<string>2016-09-26 20:34:02</string>
			<key>ding</key>
			<string>1317</string>
			<key>favourite</key>
			<string>247</string>
			<key>hate</key>
			<string>279</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20879733</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0925/57e73cd7d76a1__b_32.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1317</string>
			<key>name</key>
			<string>街你一访</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:34:02</string>
			<key>playcount</key>
			<string>68772</string>
			<key>playfcount</key>
			<string>4564</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/20160918094803.jpg</string>
			<key>repost</key>
			<string>370</string>
			<key>screen_name</key>
			<string>街你一访</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474893242</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>汽车图标大考察，女司机表示车上居然有车震的标志？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>18084804</string>
			<key>videotime</key>
			<string>215</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0925/57e73cd8a650d_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.winapp111.mobi/share/20879733.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>854</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>89</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>116</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/18/57ddf9d1beb10_1.jpg</string>
			<key>comment</key>
			<string>175</string>
			<key>create_time</key>
			<string>2016-09-18 10:20:01</string>
			<key>created_at</key>
			<string>2016-09-26 20:18:02</string>
			<key>ding</key>
			<string>1050</string>
			<key>favourite</key>
			<string>89</string>
			<key>hate</key>
			<string>116</string>
			<key>height</key>
			<string>3272</string>
			<key>id</key>
			<string>20724636</string>
			<key>image0</key>
			<string>http://ww1.sinaimg.cn/mw240/bd9460d4jw1f7y19339dij206y2iwjte.jpg</string>
			<key>image1</key>
			<string>http://ww1.sinaimg.cn/large/bd9460d4jw1f7y19339dij206y2iwjte.jpg</string>
			<key>image2</key>
			<string>http://ww1.sinaimg.cn/bmiddle/bd9460d4jw1f7y19339dij206y2iwjte.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1050</string>
			<key>name</key>
			<string>用户725697</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:18:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/09/07/57d00b1ed7b47_mini.jpg</string>
			<key>repost</key>
			<string>210</string>
			<key>screen_name</key>
			<string>用户725697</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474892282</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>牛仔裤的发展趋势……好期待未来款</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>19169892</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://c.f.zk111.net/share/20724636.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>250</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>bookmark</key>
			<string>180</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>153</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>comment</key>
			<string>66</string>
			<key>create_time</key>
			<string>2016-09-24 20:58:33</string>
			<key>created_at</key>
			<string>2016-09-26 20:15:03</string>
			<key>ding</key>
			<string>651</string>
			<key>favourite</key>
			<string>180</string>
			<key>hate</key>
			<string>153</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20868724</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd_28.gif</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>651</string>
			<key>name</key>
			<string>UFO卡特</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 20:15:03</string>
			<key>playcount</key>
			<integer>92756</integer>
			<key>playfcount</key>
			<integer>1873</integer>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/08/17/57b4535f343bf_mini.jpg</string>
			<key>repost</key>
			<string>89</string>
			<key>screen_name</key>
			<string>UFO卡特</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474892103</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>前方高能！现在请你们放下武器，随我回家……</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>18263501</string>
			<key>videotime</key>
			<string>82</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/99c3edbc-8256-11e6-a7ff-d4ae5296039d_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.budejie.com/share/20868724.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>854</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string></string>
			<key>bookmark</key>
			<string>5</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>144</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/ugc/2016/09/26/57e87b9fe8b50_1.jpg</string>
			<key>comment</key>
			<string>140</string>
			<key>create_time</key>
			<string>2016-09-26 09:36:31</string>
			<key>created_at</key>
			<string>2016-09-26 19:58:00</string>
			<key>ding</key>
			<string>452</string>
			<key>favourite</key>
			<string>5</string>
			<key>hate</key>
			<string>144</string>
			<key>height</key>
			<string>8920</string>
			<key>id</key>
			<string>20900638</string>
			<key>image0</key>
			<string>http://ww1.sinaimg.cn/mw240/005yUFpDjw1f876j6c3fxj30go5i8qoi.jpg</string>
			<key>image1</key>
			<string>http://ww1.sinaimg.cn/large/005yUFpDjw1f876j6c3fxj30go5i8qoi.jpg</string>
			<key>image2</key>
			<string>http://ww1.sinaimg.cn/bmiddle/005yUFpDjw1f876j6c3fxj30go5i8qoi.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>452</string>
			<key>name</key>
			<string>我有了一个男朋友ヽ、</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 19:58:00</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/07/26/57974925b34a6_mini.jpg</string>
			<key>repost</key>
			<string>16</string>
			<key>screen_name</key>
			<string>我有了一个男朋友ヽ、</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474891080</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>陈光标当众脱衣"自证清白" 外人需花750买票观看！</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>10</string>
			<key>user_id</key>
			<string>5348609</string>
			<key>videotime</key>
			<string>0</string>
			<key>videouri</key>
			<string></string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://a.f.winapp111.cn/share/20900638.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>750</string>
		</dict>
		<dict>
			<key>bimageuri</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>bookmark</key>
			<string>269</string>
			<key>cache_version</key>
			<integer>2</integer>
			<key>cai</key>
			<string>162</string>
			<key>cdn_img</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>comment</key>
			<string>210</string>
			<key>create_time</key>
			<string>2016-09-24 20:35:13</string>
			<key>created_at</key>
			<string>2016-09-26 19:56:01</string>
			<key>ding</key>
			<string>1416</string>
			<key>favourite</key>
			<string>269</string>
			<key>hate</key>
			<string>162</string>
			<key>height</key>
			<string>480</string>
			<key>id</key>
			<string>20868162</string>
			<key>image0</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>image1</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>image2</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>image_small</key>
			<string>http://wimg.spriteapp.cn/picture/2016/0924/57e6730141be1__b_57.jpg</string>
			<key>is_gif</key>
			<string>0</string>
			<key>love</key>
			<string>1416</string>
			<key>name</key>
			<string>百思小姨姐--爱怡</string>
			<key>original_pid</key>
			<string>0</string>
			<key>passtime</key>
			<string>2016-09-26 19:56:01</string>
			<key>playcount</key>
			<string>157937</string>
			<key>playfcount</key>
			<string>45875</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/07/31/579da70383992_mini.jpg</string>
			<key>repost</key>
			<string>330</string>
			<key>screen_name</key>
			<string>百思小姨姐--爱怡</string>
			<key>status</key>
			<string>4</string>
			<key>t</key>
			<integer>1474890961</integer>
			<key>tag</key>
			<string></string>
			<key>text</key>
			<string>要打针吗？谁要打针的？</string>
			<key>theme_id</key>
			<string>0</string>
			<key>theme_name</key>
			<string></string>
			<key>theme_type</key>
			<string>0</string>
			<key>themes</key>
			<array/>
			<key>top_cmt</key>
			<array/>
			<key>type</key>
			<string>41</string>
			<key>user_id</key>
			<string>14939741</string>
			<key>videotime</key>
			<string>11</string>
			<key>videouri</key>
			<string>http://wvideo.spriteapp.cn/video/2016/0924/57e673014ff56_wpd.mp4</string>
			<key>voicelength</key>
			<string>0</string>
			<key>voicetime</key>
			<string>0</string>
			<key>voiceuri</key>
			<string></string>
			<key>weixin_url</key>
			<string>http://b.f.winapp111.net/share/20868162.html?wx.qq.com&amp;appname=</string>
			<key>width</key>
			<string>480</string>
		</dict>
	</array>
</dict>
</plist>
